body{
margin: auto;
font-family: 'Montserrat', sans-serif;
max-width: 2000px;
}
#firstmaindiv{
height: 100vh;
}
.body_image {
position: fixed;
z-index: -2;
filter: brightness(0.5);
max-width: 2000px;
}
.body_image img{
width: 100vw;
height: 100vh;
max-width: 2000px;
}
#intro{
height: 100vh;
}
.first_div_row {
display: flex;
justify-content: space-between;
position: fixed;
width: 100%;
z-index: 1;
max-width: 2000px;
}
.emoji {
width: 100%;
display: flex;
justify-content: center;
position: relative;
top: 20px;
}
.emoji img {
width: 10%;
border-radius: 50%;
}
.dropdown {
width: 100%;
display: flex;
justify-content: end;
z-index: 3;
}
button.btn.btn-secondary.dropdown-toggle {
margin: 30px 50px 10px;
color: black;
background: white;
border-style: none;
}
button.btn.btn-secondary.dropdown-toggle:hover {
color: white;
background: black;
}
.introduction {
width: 100%;
justify-content: center;
margin-top: 180px;
}
.introduction h1{
text-align: center;
color: white;
font-weight: 700;
font-size: -webkit-xxx-large;
}
.introduction h4{
text-align: center;
color: white;
font-weight: 300;
font-size: large;
}

/*ABOUT ME*/
.aboutme_img {
    width: 100%;
    background-color: #212529;
    color: white;
    padding: 100px 100px;
    text-align: center;
    line-height: 30px;
}

.me img {
width: 30%;
border-radius: 50%;
}
#shine {
display: flex;
justify-content: center;
}
.shine_div {
color: white;
background: #212529;
margin: 25px;
padding: 20px;
border-radius: 25px;
transition: 0.5s;
}
.shine_div:hover{
color: black;
background: white;
}
.skillbox {
background: white;
width: 50%;
border-radius: 5px;
margin: auto;
text-align: center;
position: relative;
bottom: 70px;
padding: 20px;
}
.languages {
display: flex;
width: 100%;
justify-content: center;
align-items: center;
}
.languages_img {
display: flex;
width: 100%;
}
.languages_img > div {
width: 33.3%;
}
.languages_img img {
width: 100%;
}
.tools {
display: flex;
}
.tools {
display: flex;
width: 100%;
align-items: center;
}
.tools div {
width: 20%;
display: flex;
flex-direction: column;
}   
.tools img {
width: 80%;
}
.tools a {
margin-top: 10px;
text-decoration: none;
color: black;
}
/*tools 2*/
.tools2 {
display: flex;
justify-content: center;
}
.tools2 {
display: flex;
width: 100%;
align-items: center;
}
.tools2 div {
width: 20%;
display: flex;
flex-direction: column;
}   
.tools2 img {
width: 80%;
}
.tools2 a {
margin-top: 10px;
text-decoration: none;
color: black;
}
.skillbox h4 {
text-decoration: underline;
}
/*TALENT*/
.talent img {
width: 150px;
}
.slider_talent.slick-initialized.slick-slider {
text-align: -webkit-center;
}
.slick-list.draggable {
margin: 0 100px;
}
.nav_talent.slick-initialized.slick-slider.slick-dotted {
display: flex;
position: relative;
margin-top: 100px;
}
button.slick-prev.slick-arrow {
left: 50px;
}
button.slick-next.slick-arrow {
right: 50px;
}
.slick-slide img {
display: block;
width: 70%;
border-radius: 10px;
}
.talent_box {
margin: 0 0 50px;
position: relative;
}
/*FOOTER*/
#footer{
width: 100%;
background-color: #212529;
display: flex;
align-items: center;
}
.contact {
    display: flex;
    filter: invert(1);
    width: 100%;
    justify-content: center;
    text-align: center;

}
.contact img {
    width: 50%;
    transition: 0.5s;
}
.contact div {
    width: 10%;
    padding: 18px;
    margin: 25px 0;
}
.contact img:hover{
transform: scale(1.5);
}
.slider_talent h3{
    font-size: 20px;
    padding: 5px;
}
.know_more {
    filter: invert(1);
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 3%;
    z-index: 1
}
.know_more img {
    width: 100%;
    transition: 0.5s;
}
.know_more img:hover{
    transform: scale(1.5);
}
@media only screen and (max-width: 1000px) {
.aboutme_img {
padding: 100px 100px;
}

.languages_img img {
margin: 10px 
}
.languages_img > div {
display: flex;
justify-content: center;
margin: auto;
}
.tools a {
width: 100%;
font-size: 10px;
}
.tools2 a {
width: 100%;
font-size: 10px;
}
.slider_talent h3{
    font-size: 15px;
    padding: 5px;
}
.contact div {
    width: 10%;
    padding: 3px;
    margin: 25px 0;
}
.know_more {
    filter: invert(1);
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 3%;
    z-index: 1
}
}
@media only screen and (max-width: 779px) {
.emoji img {
width: 15%;
border-radius: 50%;
}
.dropdown button.btn.btn-secondary.dropdown-toggle {
margin: 15px;
}
.dropdown-toggle::after {
display: none;
}
#intro {
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}
.introduction {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
}
.emoji {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
}
.slider_talent h3{
    font-size: 15px;
    padding: 5px;
}
.contact > a img {
    width: 100%;
    padding: 2px;
    margin: 20px 0;
    transition: 0.5s;
}
}

@media only screen and (max-width: 550px){
.emoji img {
    width: 25%;
}
.introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}
.me img {
    width: 50%;
}
.languages h4 {
    font-size: 15px;
}
.languages_img {
    display: block;
    width: 100%;
}
.devtools h4 {
    width: 100%;
    font-size: 15px;
}
.tools {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.tools div {
    width: 50%;
    display: flex;
}
.tools2 {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.tools2 div {
    width: 50%;
    display: flex;
}

button.btn.btn-secondary.dropdown-toggle {
    font-size: 10px;
    padding: 3px;
}
.aboutme_img {
    padding: 100px 50px;
}
.know_more {
    filter: invert(1);
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 5%;
    z-index: 1
}

}
